body {
  
}

.graph {
	border: 5px solid black;
	width: 400px;
	height: 400px;
}

.button {
	padding:2px;
	width:150px;
	height:25px;
	margin:1px;
	text-align: center;
	vertical-align: central;
	text-decoration: none;
	border: 0.5px solid gray;
	background-color:dodgerblue;
	border-radius: 15px;

}

.button-inline {
	width: 50px;
	display: inline-block;
}

.button-displayConvexHull {
	background-color: dodgerblue;
	width: 150px;
	height: 25px;
	vertical-align: middle;
	display: inline-block;
}

.button-displayLineSweep {
	background-color: dodgerblue;
	width: 150px;
	height: 25px;
	vertical-align: top;
	display: inline-block;
}

.button-computeLineSweep {
	background-color: dodgerblue;
	width: 90px;
	height: 40px;
	vertical-align: top;
	display: inline-block;
}

.button-content {
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

.des{
	position: flex;
	margin-bottom: 5%; 
	margin-top: 5%; 
	margin-left: 1%;
	width: 330px;
}

.loop{
	margin-top:5%;
}
.loopdes{
	width: 330px;
}

.tutorial{
	position: flex;
	margin-top: 30%; 
	width: 280px;
}
.subtutorial{
	position: flex;
	margin-left: 1%;
	margin-top: 5%;
	margin-bottom: 5%; 

}